/** !--=========================================================* 
APIsec Check - v1.0.0
Product Page: www.apiseccheck.com
Copyright: 2023 
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  font-family: "Inter";
}

html {
  zoom: 95%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  color: #000;
}

.call-to-action {
  font-size: 22px;
}

.bxs-copy:hover {
  transform: scale(1.3);
}

.report-bg {
  background-color: #00afd1;
}

.faq {
  background-color: #f5f5f5;
}

a {
  color: rgb(2, 92, 122);
  text-decoration: none;
}

.samplecheck a {
  border-bottom: 1px solid rgb(2, 92, 122);
  font-family: 'Inter';
  font-size: 18px;
  line-height: 1.333;
}

.col-lg-6.mx-auto.freeapi {
  margin-top: 120px !important;
}

/* .row.mb-5.test1 {
  position: relative;
  top: 170px;
} */
li {
  font-size: 18px;
  font-family: 'Inter';
  color: rgb(2, 92, 122);
  line-height: 1.091;
  text-align: left;
  position: absolute;
  z-index: 32;
  font-weight: 500;
}

.modal-backdrop {
  width: 100% !important;
}

span.timesx {
  color: #c0d6de !important;
  font-size: 32px;
}

.popupWidth {
  width: 85%;
  margin: auto;
  border-radius: 12px;
  border: none;
}

.popupBaseUrl {
  max-width: 75%;
  margin: auto;
  font-family: 'Inter';
  border-radius: 12px;
  border: none;
  text-align: center;
  padding: 22px;
  background-color: #d9d9d9;
}

.cancel {
  border: none;
  background: none;
}

button.btn.btn-basic.goback {
  background: #ffff;
  font-size: 20px;
}

button.btn.btn-primary.testBaseUrl {
  background-color: #025c7a;
  border: none;
  width: 300px;
  font-size: 20px;
  font-family: "Inter";
}

input#baseUrlInput {
  width: 450px;
  height: 44px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(205, 214, 225);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 12px;
}

input#baseUrlNotReachable {
  width: 450px;
  height: 44px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(205, 214, 225);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 12px;
}

.uploadFileBody {
  border: 5px dotted #c0d6de;
  margin: 25px;
  height: 240px;
}

.modal-header {
  border-bottom: 0px !important;
}

.modal-lg {
  width: 850px;
}

.col-md-6.mx-auto.Trusted {
  margin-top: 40px;
}

canvas#myChart {
  height: 240px !important;
}

.spacing1 {
  margin-top: 60px;
}

.space {
  margin-top: 40px;
  margin-bottom: 40px;
}

#hero h2 {
  font-size: 26px;
  font-family: "Inter";
  color: rgb(0, 0, 0);
  line-height: 0.857;
  text-align: center;
  margin-left: 30px;
}

a:hover {
  color: rgb(2, 92, 122);
  text-decoration: none;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(2, 92, 122);
  color: #fff;
}

span.questionText {
  margin-left: 80px;
}

.accordion-button::after {
  background-image: url('../img/download.svg') !important;
}

.whatisApisecCheck p {
  line-height: 1.2;
}

.whatisApisecCheck {
  background-color: #c0d6de;
  border-radius: 10px;
  padding: 20px;
  font-size: 24px;
  position: absolute;
  left: 60% !important;
  width: 237px;
  height: 116px;
  font-size: 26px;
  z-index: 1;
  top: 15%;
  font-size: 26px;
  font-family: "Inter";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
}

.scanapis {
  background-color: #00afd1;
  border-radius: 10px;
  font-size: 24px;
  position: relative;
  line-height: 1.2;
  padding: 40px;
  width: 90%;
  margin-left: 30px;
}

h3.text-center.mb-3.run {
  margin-top: 25px;
}

img.text-center.discover {
  width: 15%;
}

.trust {
  background-image: url("../../assets/img/rectangle.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}



label {
  float: left !important;
  font-size: 16px;
  font-family: "Inter";
  color: rgb(0, 0, 0);
  line-height: 1.5;
}



.bg-none {
  background: none !important;
}

.bg-dark-secondary {
  background-color: rgba(216, 214, 227, 0.15);
}

.col-lg-6.mx-auto.hero {
  padding-top: 40px;
}

html {
  scroll-behavior: smooth;
}


/*Progress bar */

.progress-container {
  width: 100%;
  height: 12px;
  background-color: #f1f1f1;
  margin-top: 20px;
}

div#messageValue {
  font-size: 22px;
  margin-top: 10px;
  color: #777;
}

#progress-text {
  color: rgb(2, 92, 122);
  font-size: 22px;
  background: #fff;
  box-shadow: 12920;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  padding: 4px;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #025c7a;
  border-top-color: #d2f9eb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

/*Vertical button css starts from here*/


/*Vertical button css ends from here*/


.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 30px;
  bottom: 15px;
  z-index: 996;
  background: #025c7a;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  color: #fff;
  border: 2px solid #025c7a;
}






.form-control {
  font-size: 0.85rem;
}

/**  result table css begins here */
table {
  overflow: hidden;
}

.apiDescription {
  border: 2px solid #e8e8e8;
  border-radius: 15px;
}

tr {
  border-bottom: 2px solid #e8e8e8;
}

th,
td {
  padding: 0.65em;
}

td {
  font-size: 16px;
  font-family: "Inter";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  word-break: break-word;

}

th {
  width: 230px;
  text-align: left;
  font-size: 18px;
  font-family: "Inter";
  color: rgb(0, 0, 0);
  font-weight: bold;
}

tr:last-child {
  border-bottom: none;
}

.vulnerabilitySection {
  background-color: #f5f5f5;
}

.accessall {
  font-size: 24px;
  font-family: "Inter";
  color: rgb(18, 50, 62);
  line-height: 1.2;

}

div#progressIcons {
  padding-top: 20px;
}

div#scantime {
  padding-top: 20px;
}

#downloadbtn {
  background-color: #025c7a;
  font-size: 20px;
  font-family: "Epura";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;

}

#downloadsample {
  font-size: 20px;
  font-family: "Epura";
  color: #025c7a;
  font-weight: bold;
  line-height: 1.2;
  border: 2px solid #025c7a;
}

.score {
  font-size: 20px;
  font-weight: bold;
  color: #12323e;
}

.gradeScore {
  width: 240px;
  background-color: #f5f5f5;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.bigscore {

  font-size: 120px;
  font-family: "Inter";
  color: rgb(214, 87, 69);
  font-weight: bold;
  line-height: 1.2;

}

.anchortag {
  font-weight: 600;
  border-bottom: 1px solid rgb(2, 92, 122);
}

#settingdark {}

.pdfImage {
  width: 35%;
}

.getFullReport {
  background-color: #00afd1;
}

.getFullreportHeading {
  font-size: 40px;
  font-family: "Inter";
  color: rgb(52, 73, 94);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.vulnerbilityLeft {
  font-size: 16px;
  font-family: "Inter";
  color: rgb(0, 0, 0);
  line-height: 1.778;
  text-align: left;
  width: 90%;

}

section#ApisecCheck {
  padding: 100px 0px;
}

section#faqs {
  padding: 100px 0px;
}

.check {
  color: #72ba2c;
}

.cross {
  color: #d65745;
}

.Vulnerability {
  font-size: 20px;
  font-family: "Inter";
  color: rgb(18, 50, 62);
  font-weight: bold;
  line-height: 1.2;

}

.modal-open {
  overflow: auto !important;
}

.vulnerabilityData {
  background-color: #fff;
  border-radius: 10px;
}

.testdomain {
  font-family: "Inter";
  line-height: 1.2;
  font-size: 20px;
  word-wrap: break-word;
}

.Test_passed {
  font-size: 18px;
  font-family: "Inter";
  color: rgb(0, 0, 0);
  line-height: 1.778;
  text-align: right;

}

/*result table css ends here */


.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


.invalid-tooltip {
  margin-left: 12px !important;
}



/*pop up custom css ends*/
/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }



  .samplecheck {
    padding-top: 30px;
  }

  #btn {
    background-color: #025c7a;
    width: 100%;
    margin-top: 19px;
    max-width: 90px;
  }


}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgb(1 1 19 / 91%);
}

a.nav-link.scrollto.logo {
  filter: grayscale(10%) brightness(10%) contrast(10%);
  width: 100px;
  height: 25px;
  margin-right: 20px;
}

#header.header-transparent {
  background: #fff;
}

#header.header-scrolled {
  background: #fff;
  height: 60px;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

.center-logo {
  width: 75%;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 90px;
}



/*custom css for result design*/
.design {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 24px rgb(0 0 0 / 15%);
}






.box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 24px rgb(0 0 0 / 15%);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: rgb(2, 92, 122);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

/* .method{
  text-transform: uppercase;
} */
.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 3px;
  left: 30px;
  background-color: #c0d6de;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: rgb(2, 92, 122);
  font-weight: 600;
}









@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.disabled {
  pointer-events: none;
}









input#openAPISpec,
input#email {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(205, 214, 225);
  border-radius: 10px;
  width: 100%;
  height: 45px;
  background-color: #E8f0fe;
}

.api-invalid-tooltip {
  color: red;
  text-align: left;
  margin-top: 5px;
}

.email-invalid-tooltip {
  color: red;
  text-align: left;
  margin-top: 5px;
}

input#email {
  height: 45px;
  border-radius: 10px;
}


.drag {
  color: #025c7a;
  font-size: 26px;
  font-weight: 500;
}

.main {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  font-family: "Open Sans";
  width: 1170px;
  margin: 0 auto;
}

#btn {
  background-color: #025c7a;
  width: 90px;
  height: 45px;
  margin-top: 30px;
  font-size: 18px;
  font-family: "Inter" !important;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  border-radius: 10px;
}

#file {
  background-color: #025c7a;
  width: 280px;
  height: 40px;
  font-family: "Epura";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 24%;
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
  background-color: #025c7a !important;
  color: #FFF !important;
  text-decoration: none !important;
  border: hidden !important;
  border-color: #FFF !important;
  box-shadow: 0px !important;


}

.downloadbtnpdf {
  background-color: #025c7a;
  height: 42px;
  color: #fff;
  font-weight: 600;
  text-align: center !important;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 35px 0;
  overflow: hidden;
}

.section-bg {
  background-image: url("../../assets/img/rectangle.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 350px;
  margin-top: -120px;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #1acc8d;
  margin: 4px 10px;
}

.Customer {
  font-size: 20px;
  font-family: "Inter",
    sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  font-weight: 500;

}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #34495e;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #c0d6de;
  padding: 0 0 30px 0;
  color: #025c7a;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}



#footer .copyright {
  text-align: center;
  padding-top: 30px;
}



@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}